<div class='container-fluid article-container'>
    {{#each article}}
    {{#unless this.isSaved}}
    <div class='card-header'>
        <h3>{{title}}</h3>
        <a href={{this.link}} class="btn btn-link">Link</a>
        <button class='save' data-id={{this._id}}>Save
            Article</button>
    </div>
    {{/unless}}
    {{/each}}
</div>

{{!-- Modal for alerting number of scraped articles --}}